# Dependencias
node_modules/
.angular/

# Compilados
target/
dist/
*.jar
*.war

# Entorno y secretos
.env
*.env
application-local.properties

# IDE
.idea/
*.iml
.vscode/settings.json

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*